<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="MusicExchance.MusicExchance" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="21" />
	<application android:label="MusicExchance" android:theme="@style/MyTheme" android:hardwareAccelerated="true">
		<activity android:name=".MainActivity" android:label="MusicExchance" android:theme="@style/MyTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
			<meta-data android:name="android.app.default_searchable" android:value=".SearchResultActivity" />
		</activity>
		<activity android:name=".SearchResultActivity" android:label="MusicExchance" android:theme="@style/MyTheme">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
		</activity>
		<activity android:name=".SettingsActivity" android:label="MusicExcanche" android:theme="@style/MyTheme" android:parentActivityName=".MainActivity"></activity>
	</application>
</manifest>